/* General */

.clearfix {
    overflow: auto;
}

body {
    color: whitesmoke;
    /* Setting Background Image */
    background-image: url("../images/backgrounds/2.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    font-family: fantasy;
    font-weight: bold;
    font-size: 55px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: center;
    text-shadow: 2px 2px #3e0082;
}

h2, h3 {
    font-family: monospace;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px #3e0082;
}

#tagline-text {
    font-size: 28.25px;
    font-style: italic;
}

/* Containers */

#instructions-container, #tagline-text {
    padding-top: 25px;
}

#content-container {
    background: #ce3838;
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0);
    padding: 20px;
}

#button-container, #question-container, #timer-container, #results-container {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 15px;
    font-family: monospace;
    font-size: 25px;
}

/* Rows  */
.row {
    align-items: center;
}

#question-row {
    margin-bottom: 25px;
}

/* Questions */

h4, li {
    font-family: monospace;
    font-weight: bold;
    font-size: 33px;
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px #3e0082;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.75;
    font-size: 22px;
    text-align: left;
}

#random-question {
    padding-bottom: 15px;
}

p {
    margin-top: 25px;
    font-size: 15px;
    font-family: monospace;
}

/* Footer */

.footer {
    position: relative;
}

#audio-wrapper {
    padding-right: 340px;
}

#copyright-text {
    color: #fff8f8;
    text-shadow: 2px 2px #00000085;
    margin-left: 10px;
    margin-top: 20px;
}

/* Images */

#image-holder {
    /* Positioning */
    margin: 0 auto;
    /* Box-model */
    width: 410px;
    /* Typography */
    text-align: center;
    border: solid;
    border-width: 5px;
    border-radius: 5px;
}

/* Play again button */

#reload-row {
    margin-top: 40px;
}

